{% extends "creationsortie.html.twig" %}

{% block main %}
    <div>
Hello World !!!
    </div>
{% endblock %}

{% block form %}
    <div>
{{ form_start(sortieForm) }}
{{ form_widget (sortieForm) }}
<button type="submit" class="btn">Valider </button>
{{ form_end(sortieForm) }}
    </div>
    <div>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}