{% extends "creationsortie.html.twig" %}



{% block form %}
    <div>
        <br>
{{ form_start(sortieForm) }}
{{ form_widget (sortieForm) }}


       {{ form_start(campusForm) }}
        {{ form_widget (campusForm) }}


        {{ form_start(lieuForm) }}
        {{ form_widget (lieuForm) }}


        {{ form_start(villeForm) }}
        {{ form_widget (villeForm) }}
        <button type="submit" class="btn">Valider </button></a>
{#        <button>Valider</button>#}
        {{ form_end(sortieForm) }}
        {{ form_end(campusForm) }}
        {{ form_end(lieuForm) }}
        {{ form_end(villeForm) }}

        <br>

    </div>
    <div>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}