<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">

    <header>
        <!-- La NAVBAR -->
        <nav class="navbar navbar-expand-sm bg-light">

            <div class="container">

                <a class="col-8 navbar-brand text-dark" href="#">Sortir.com</a>
                <div class="col-4">
                    <a class="text-dark" href="#">Villes</a>

                    <a class="text-dark" href="#">Campus</a>
                    <a class="text-dark" href="#">Accueil</a>
                    <a class="text-dark" href="#">Mon profil</a>
                    <a class="text-dark" href="#">Se déconnecter</a>
                </div>
            </div>
        </nav>
    </header>
</head>
<body>
<br>

        <div class="text-center">
            <h3>{{ participant.username }}</h3>
        </div>

<br>

        <div class="container h-100 d-flex justify-content-center">
            <div class="my-auto">
                <h4>Prénom : {{ participant.prenom }}</h4>
                <h4>Nom : {{ participant.nom }}</h4>
                <h4>Téléphone : {{ participant.telephone }}</h4>
                <h4>Email : {{ participant.mail }}</h4>
            </div>
        </div>

    <div class="container">
        <a href="{{ path('list_sortie') }}"> <button type="button" class="btn btn-outline-secondary">Retour</button></a>
    </div>


</body>
</html>